/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f4f4f9;
    color: #333;
    margin: 7px 10px 0px 10px;
}

#tag{
    font-size: 61px;
    padding: 100px;
    font-weight: 800;
    letter-spacing: 17px;
    text-shadow: 2px 5px 10px black;
}

/* Header */
.header {
    background-image: image-set(url("images/indian-tourisum.jpg"));
    background-repeat:repeat-x ;
    background-size: contain;
    background-position: center;
    text-align: center;
    color: white;
    padding: 40px 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.intro-text {
    font-size: 1.2em;
    text-shadow: 2px 5px 10px black;
    padding: 10px;
}

/* Destination Section */
.destination {
    margin-bottom: 30px;
    background-color: #ff6347;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
}

.destination-img{
    transition: all 0.3s ease;
    height: 363px;
    width: 600px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.destination-info {
    transition: all 0.3s ease;
    padding: 20px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
    opacity: 70%;
    height: 363px;
    width: 600px;
}


.destination h2 {
    font-size: 2em;
    color: #ff6347;
    margin-bottom: 10px;
}

strong{
    color: #ff7860;
}

.destination p {
    color: black;
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Hover Effect */
.destination-img:hover {
    transform: scale(1.01);
    box-shadow: 6px 12px rgba(0, 0, 0, 0.15);
}
.destination-info:hover {
    transform: scale(1.01);
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

/* Footer */
footer {
    
    background-color: #222;
    color: #eee;
    text-align: center;
    padding: 15px;
}

.social-links{
    margin-top: 16px;
    
}

.social-links a img{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    border-radius: 10px;
    background-color: white;
}